:root{
    
    background-image: linear-gradient(#fafafa,#E0E0E0 );
}

.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: #E0E0E0;
    border-radius: 1rem;
    border-color:#3071E9 ;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(86, 185, 235, 0.5);
    transform: translate(-0.1rem);
    transition: transform 158ms;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #3071E9;
    color: #E4E4E2;
    
}
.choice-text{
    padding: 1.5rem;
    width: 100%;
    font-weight: bold;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
    color: #3071E9;
    font-size: 4rem;
}

#progressBar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #3071E9;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

#progressBarFull{
    height: 3.4rem;
    background-color: #3071E9;
    width: 0px;
    border-radius: 0.6rem;
}

#level{
    margin-top: 0;
}